*{
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}
#vel{
    color:rgba(153, 107, 8, 0.671);
    text-align:center;
    font-size: 46px;
}
#top{
    text-align: center;
    color: black;
    font-size: 22px;
}
#nav{
    display:flex;
    flex-direction: column;
    background-color: darkslategray;
    height: 14vh;
    width: 100vw;
    margin-top: 20px;
    border: 2px saddlebrown;
    border-radius: 15px;
}
#navbar{
    display: flex;
    justify-content: center;
}
ul li{
    list-style: none;
    margin: 20px;
    text-decoration: none;
    border-radius: 10px;
}
ul li a:hover{
    background-color: goldenrod;
    border-radius: 10px;
}
.brown{
    color:brown;
}
#cont1{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    height: 65vh;
}
#r1{
    color: rgb(24, 21, 21);
    font-weight: bolder;
    font-size: 60px;
    text-align: center;
    margin-top: 40px;
}
.btn{
    margin-top: 20px;
    border: 4px slategrey;
    border-radius: 20px;
    background-color: gray;
    font-size: 50px;
    font-weight: bold;
}
.btn:hover{
    cursor: pointer;
    background-color: burlywood;
}